*{margin:0; padding:0;}
img {border:0 none;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.clearfix{display:inline-block}
* html .clearfix{height:1%}
.clearfix{display:block}
a,a visited{color:#666;text-decoration:none;}
a:hover{color:#000;}
body{font:13px "Microsoft YaHei",Arial,Tahoma,Sans-Serif;color:#555;}


#container{ margin:20px auto; width:720px; border:1px solid #CCC; -moz-border-radius:4px;}

h3{ text-align:center; color:#999;font:normal normal bold 15px/250% "Microsoft YaHei",sans-serif;}
#itemname{text-align:center; margin:0 12px 12px; border:1px solid #CCC; padding:5px; overflow:hidden;}
#itemname{  -webkit-box-shadow:rgba(0,0,0,.2) 0px 0px 5px;-moz-box-shadow:rgba(0,0,0,.2) 0px 0px 5px;box-shadow:rgba(0,0,0,.2) 0px 0px 5px;}
#itemname ul{ }
#itemname li{ float:left; background:url(images/folder.gif) no-repeat;width:60px;list-style:none; margin-right:12px;}
#itemname li a{display:block;padding-top:45px;cursor:pointer;}
#itemblist,#itemcopy{margin:1em 3em;}
#itemb{ display:none;}
#itemb .itemb{padding:10px;border-bottom:1px dashed #ccc;}
#itemb .thumbb{width:27px;height:30px;float:left;padding:5px;}
#itemb .file{padding:3px 0 0 45px;min-height:35px;}
#itemb .name{font-weight:bold;}
#itemcopy{text-align:center;}